<%= @chef.name %>
<% @chef.dishes.each do |dish| %>
  <%= dish.name %>
  <%= dish.description %>
<% end %>

<% @dish_ingredients.chef_ingredients(@chef).each do |ingredient| %>
  <div class="ingredient">
    <%= ingredient.name %>
    <%= ingredient.calories %>
  </div>
<% end %>