<h2>Chef's Name: <%= @chef.name %></h2>
<% @chef.dishes.each do |dish| %>
  <h3><%= dish.name %></h3>
  <%= dish.description %><br>
<% end %>

<h3>Ingredients:</h3>
<% @chef.dishes.each do |dish| %>
  <% dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
    <%= ingredient.calories %><br>
  <% end %>
<% end %>
