<h1>Chef Show Page</h1>

<h2>Chef's Name</h2>
<p>Name: <%= @chef.name%><p>

<h2>Chef's Dishes</h2>
<%@chef.dishes.each do |dish|%>
  <section id ="dish-<%=dish.id%>">
  <p>Dish Name:<%=dish.name%><p>
  <p>Dish Description:<%=dish.description%><p>
  <%= button_to "Delete", "/dishes/#{dish.id}", params: { chef_id: :"#{@chef.id}" }, method: :delete %>
  </section>
<%end%>

<h2>Chef's Ingredients</h2>
<%@ingredients.each do |ingredient|%>
  <section id ="ingredient-<%=ingredient.id%>">
  <p>Ingredient Name:<%=ingredient.name%><p>
  <p>Ingredeient Calories:<%=ingredient.calories%><p>
  </section>
<%end%>