<%= @chef.name %>
<% @chef.dishes.each do |dish| %>
  <div class="dish-<%= dish.id %>">
    <%= dish.name %>
    <%= dish.description %>
    <%= button_to 'remove dish', remove_dish_chef_path(@chef), params: {dish_id: dish.id}, method: :patch %>
  </div>
<% end %>

<% @dish_ingredients.chef_ingredients(@chef).each do |ingredient| %>
  <div class="ingredient">
    <%= ingredient.name %>
    <%= ingredient.calories %>
  </div>
<% end %>

<p>Most Popular Ingredients</p>
<div class="most-popular-ingredients">
  <% @dish_ingredients.most_popular(@chef).each do |ingredient| %>
    <%= ingredient.name %>
    <%= ingredient.calories %>
  <% end %>
</div>